<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Créer un récepteur</h1>
    <div class="buttons">
      <button class="button button-assertive" ng-click="vm.closeCreateReceiverModal()"><i class="ion-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="vm.create()">
      <div class="list">
      	<label class="item item-input">
          <span class="input-label">Nom</span>
          <input type="text" ng-model="vm.receiver.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Code ON</span>
          <input type="number" ng-model="vm.receiver.code_on">
        </label>
        <label class="item item-input">
          <span class="input-label">Code OFF</span>
          <input type="number" ng-model="vm.receiver.code_off">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" ng-disabled="!vm.receiver.name.length || !vm.receiver.code_on || !vm.receiver.code_off" type="submit">Créer</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
