<div class="receiver-switch" ng-click="!!canSwitch && vm.change()">
	<!-- If pictures -->
	<div class="switch-picture" ng-if="!forceSwitch && (!!vm.receiver.image_off && !!vm.receiver.image.on)">
		<div></div>
	</div>
	
	<!-- If Not-->
	<div class="switch-default" ng-class="{'on': !!vm.receiver.state, 'off': !vm.receiver.state }" ng-if="!!forceSwitch || (!vm.receiver.image_off || !vm.receiver.image.on)">
		<p class="switch-name" ng-show="!!showName" ng-bind="vm.receiver.name"></p>
	</div>
</div>