.receiver-switch {
	width: 50px;
	height: 50px;
}
.receiver-switch .switch-default {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid black;
}

.receiver-switch .switch-default.on{
	background-color: lightBlue;
}

.receiver-switch .switch-default.off{
	background-color: navy;
}

.receiver-switch .switch-name {
	position: absolute;
	left: 0;
	top: 15%;
	right: 0;
	text-align: center;
	font-weight: 700;
	color: red;
}